%h1 Договоры

= link_to 'Добавить договор',  new_contract_path, class: "btn btn-warning"

%table.table
  %thead
    %tr
      %th Номер договора
      %th Дата заключения
      %th Дата окончания
      %th Ставка
      %th Количество дней отпуска
      %th Специальные условия
      %th Работник
      %th Связь
      %th
      %th
      %th

  %tbody
    - @contracts.each do |contract|
      %tr
        %td= contract.number_c
        %td= contract.d_conclusion_c
        %td= contract.d_expiration_c
        %td= contract.stavka
        %td= contract.vocation_c
        %td= contract.special_conditions
        %td
          = contract.worker.try(:l_name)
          = contract.worker.try(:f_name)
          = contract.worker.try(:s_name)
        %td= contract.relation
        %td= link_to 'Показать', contract, class: "btn btn-warning"
        %td= link_to 'Редактировать', edit_contract_path(contract), class: "btn btn-default "
        %td= link_to 'Удалить', contract, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br
