%p#notice= notice

%p
  %b Номер договора:
  = @contract.number_c
%p
  %b Дата заключения:
  = @contract.d_conclusion_c
%p
  %b Дата окончания:
  = @contract.d_expiration_c
%p
  %b Ставка:
  = @contract.stavka
%p
  %b Количество дней отпуска:
  = @contract.vocation_c
%p
  %b Специальные условия:
  = @contract.special_conditions
%p
  %b Работник:
  = @contract.worker
%p
  %b Связь:
  = @contract.relation

= link_to 'Редактирование', edit_contract_path(@contract), class: "btn btn-default"
\|
= link_to 'Назад', contracts_path,  class: "btn btn-warning"
