%h1 Связь Подразделение/Должность

= link_to 'Добавить связь', new_relation_path, class: "btn btn-warning"

%table.table
  %thead
    %tr
      %th Количество дней отпуска
      %th Должность
      %th Подразделение
      %th
      %th
      %th

  %tbody
    - @relations.each do |relation|
      %tr
        %td= relation.d_vocation_pu
        %td= relation.post
        %td= relation.unit
        %td= link_to 'Показать', relation, class: "btn btn-warning"
        %td= link_to 'Редактирование', edit_relation_path(relation), class: "btn btn-default "
        %td= link_to 'Удалить', relation, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br
