%p#notice= notice

%p
  %b Количество дней отпуска:
  = @relation.d_vocation_pu
%p
  %b Должность:
  = @relation.post
%p
  %b Подразделение:
  = @relation.unit

= link_to 'Редактирование', edit_relation_path(@relation), class: "btn btn-default"
\|
= link_to 'Назад', relations_path,   class: "btn btn-warning"
