= form_tag index_commit_calendars_path() do
  %h1
    Производственный календарь
    .pull-right
      = submit_tag 'Сохранить', class: 'btn btn-primary btn-lg'
      = submit_tag 'Импорт из внешних источников', class: 'btn btn-primary btn-lg'
    .clearfix
  %h4
    Пятидневная рабочая неделя
  %br
  - @hash.each do |month, days|
    .box450.my_vertical_align
      %div
        %span.label.label-warning.label-lg
          = month_names[month]
        -flag = 1
      %div
        - day = days.first
        -if (flag== 1)
          -(flag=0)
          -case (wdayy = day.date_c.wday)
          -when 0
            -6.times do
              %span.box50.cal-field-empty
                = link_to(1, ?#, class: 'btn day_empty day_btn')
          -when 1..6
            -(wdayy-1).times do
              %span.box50.cal-field-empty
                = link_to(1, ?#, class: 'btn day_empty day_btn')
        - days.each do |day|
          %span.box50.buttons-hover.cal-field
            - if day.is_output == true
              = link_to(day.date_c.day, day, class: 'btn weekends_color day_btn')
              =hidden_field_tag "day[#{day.id}]", 1, class: 'day_hid'
            - else
              = link_to(day.date_c.day, day, class: 'btn day_btn')
              =hidden_field_tag "day[#{day.id}]", 0,  class: 'day_hid'
          - if day.date_c.wday == 0
            %br

          -# =raise (day.date_c.wday).to_s
          -# %span.box50.buttons-hover
          -#   - if day.date_c.wday == 0 or day.date_c.wday == 6
          -#     = link_to(day.date_c.day, day, class: 'btn weekends_color day_btn')
          -#     =hidden_field_tag "day[#{day.id}]", 1, class: 'day_hid'
          -#   - else
          -#     = link_to(day.date_c.day, day, class: 'btn day_btn')
          -#     =hidden_field_tag "day[#{day.id}]", 0,  class: 'day_hid'
          -# - if day.date_c.wday == 0
            %br
