= form_tag index_for_user_commit_calendars_path() do
  = hidden_field_tag(:user_id, @current_user_object.id)
  = hidden_field_tag(:year, @year)
  %h1
    Выбор периода отпуска
    .pull-right
      = submit_tag 'Сохранить', class: 'btn btn-warning btn-sm'
      = submit_tag 'Отправить на проверку', class: 'btn btn-success btn-sm'
      = submit_tag 'Печать', class: 'btn btn-default btn-sm'
    .clearfix
  %h2
    Петров Константин Ярославович
.row
  .label.label-primary.sqlabel
    .big
      = "Отдел по развитию производственной системы"
    .tiny
      = Worker.human_attribute_name(:Подразделение)
  .label.label-success.sqlabel
    .big
      = "Менеджер по развитию"
    .tiny
      = Worker.human_attribute_name(:Должность)
  .label.label-warning.sqlabel
    .big
      = "28"
    .tiny
      = Worker.human_attribute_name(:"Кол-во дней отпуска")
  %br


  - @hash.each do |month, days|
    .box450.my_vertical_align
      %div
        %span.label.label-warning.label-lg
          = month_names[month]
        -flag = 1
      %div
        - day = days.first
        -if (flag== 1)
          -(flag=0)
          -case (wdayy = day.date_c.wday)
          -when 0
            -6.times do
              %span.box50.cal-field-empty
          -when 1..6
            -(wdayy-1).times do
              %span.box50.cal-field-empty
        - days.each do |day|
          %span.box50.buttons-hover.cal-field
            -# - raise [@days.inspect
            - if @days.include?(day.date_c) and day.is_output == true
              = link_to(day.date_c.day, day, class: 'btn vocations_color weekends_color day_btn2')
              =hidden_field_tag "day[#{day.id}]", 1, class: 'day_hid'
            - elsif @days.include?(day.date_c)
              = link_to(day.date_c.day, day, class: 'btn vocations_color day_btn2')
              =hidden_field_tag "day[#{day.id}]", 1, class: 'day_hid'
            - elsif day.is_output == true
              = link_to(day.date_c.day, day, class: 'btn weekends_color day_btn2')
              =hidden_field_tag "day[#{day.id}]", 0, class: 'day_hid'
            - else
              = link_to(day.date_c.day, day, class: 'btn day_btn2')
              =hidden_field_tag "day[#{day.id}]", 0,  class: 'day_hid'
          - if day.date_c.wday == 0
            %br
