= form_tag index_for_user_commit_calendars_path(), class: :hide, id: :cancel_form do
  %h2 Введите причину отклонения
  = text_field_tag :cancel_reason, '', size: 80
  = link_to(?#, class: 'btn btn-primary', id: 'cancel1_finish') do
    = fa_icon 'arrow-right'
= form_tag index_for_user_commit_calendars_path() do
  = hidden_field_tag(:user_id, @current_user_object.id)
  = hidden_field_tag(:year, @year)
  %h1
    Утверждение отпуска сотрудника

  %h2
    Смирнов Михаил Александрович
.row
  .label.label-default.sqlabel
    .big
      = "Отдел по развитию производственной системы"
    .tiny
      = Worker.human_attribute_name(:Подразделение)
  .label.label-info.sqlabel
    .big
      = "Менеджер по развитию"
    .tiny
      = Worker.human_attribute_name(:Должность)
  .label.label-warning.sqlabel
    .big
      = "28"
    .tiny
      = Worker.human_attribute_name(:"Кол-во дней отпуска")
  .label.label-success.sqlabel
    .big
      = "14 (14)"
    .tiny
      = Worker.human_attribute_name(:"Распределено дней")
  %br
  %ol
    %li
      С 09.01.2018 до 12.01.2018: 4 дня.
    %li
      С 24.02.2018 до 04.04.2018: 10 дней.
  %h2
    Коррекция
  .row
    .col-md-9
      - @hash.each do |month, days|
        .box450.my_vertical_align
          %div
            %span.label.label-warning.label-lg
              = month_names[month]
            -flag = 1
          %div
            - day = days.first
            -if (flag== 1)
              -(flag=0)
              -case (wdayy = day.date_c.wday)
              -when 0
                -6.times do
                  %span.box50.cal-field-empty
              -when 1..6
                -(wdayy-1).times do
                  %span.box50.cal-field-empty
            - days.each do |day|
              %span.box50.buttons-hover.cal-field
                -# - raise [@days.inspect
                - if @days.include?(day.date_c) and day.is_output == true
                  = link_to(day.date_c.day, day, class: 'btn vocations_color weekends_color day_btn2')
                  =hidden_field_tag "day[#{day.id}]", 1, class: 'day_hid'
                - elsif @days.include?(day.date_c)
                  = link_to(day.date_c.day, day, class: 'btn vocations_color day_btn2')
                  =hidden_field_tag "day[#{day.id}]", 1, class: 'day_hid'
                - elsif day.is_output == true
                  = link_to(day.date_c.day, day, class: 'btn weekends_color day_btn2')
                  =hidden_field_tag "day[#{day.id}]", 0, class: 'day_hid'
                - else
                  = link_to(day.date_c.day, day, class: 'btn day_btn2')
                  =hidden_field_tag "day[#{day.id}]", 0,  class: 'day_hid'
              - if day.date_c.wday == 0
                %br
    .col-md-3
      = button_tag  class: 'btn btn-success btn-lg btn-fixed-size' do
        = fa_icon :check
        Утвердить
      %br
      = button_tag class: 'btn btn-easydanger btn-lg btn-fixed-size', id: 'cancel1' do
        = fa_icon :times
        Отклонить
      %br
      = button_tag  class: 'btn btn-default btn-lg btn-fixed-size' do
        = fa_icon :print
        Печать уведомления
      = button_tag  class: 'btn btn-default btn-lg btn-fixed-size' do
        = fa_icon :print
        Печать заявления
      = button_tag  class: 'btn btn-default btn-lg btn-fixed-size' do
        = fa_icon :print
        Печать приказа
    .clearfix
