= form_for @worker do |f|
  - if @worker.errors.any?
    #error_explanation
      %h2= "#{pluralize(@worker.errors.count, "error")} prohibited this worker from being saved:"
      %ul
        - @worker.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group
        = f.label :"Фамилия"
        = f.text_area :l_name, class: "form-control"
  .row
    .col-md-6
      .form-group
      = f.label :"Имя"
      = f.text_area :f_name, class: "form-control"
  .row
    .col-md-6
      .form-group
      = f.label :"Отчество"
      = f.text_area :s_name, class: "form-control"
  .row
    .col-md-6
      .form-group
        = f.label :"ИНН"
        = f.text_area :inn, class: "form-control"
  .row
    .col-md-6
      .form-group
      = f.label :"Серия и номер паспорта"
      = f.text_area :passport, class: "form-control"
  .row
    .col-md-6
      .form-group
      = f.label :"СНИЛС"
      = f.text_area :snils, class: "form-control"
  .row
    .col-md-6
      .form-group
      = f.label :"Дата Рождения"
      = f.date_select :d_bday, class: "form-control"
  .row
    .col-md-6
      .form-group
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', workers_path, class: "btn btn-success"
