%h1 Сотрудники

= link_to 'Добавить сотрудника', new_worker_path, class: "btn btn-warning"

%table.table
  %thead
    %tr
      %th Фамилия
      %th Имя
      %th Отчество
      %th ИНН
      %th Серия и номер паспорта
      %th СНИЛС
      %th Дата Рождения
      %th
      %th
      %th

  %tbody
    - @workers.each do |worker|
      %tr
        %td= worker.l_name
        %td= worker.f_name
        %td= worker.s_name
        %td= worker.inn
        %td= worker.passport
        %td= worker.snils
        %td= worker.d_bday
        %td= link_to 'Показать', worker, class: "btn btn-warning"
        %td= link_to 'Редактировать', edit_worker_path(worker), class: "btn btn-default "
        %td= link_to 'Удалить', worker, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br
