%p#notice= notice

%p
  %b Фамилия:
  = @worker.l_name
%p
  %b Имя:
  = @worker.f_name
%p
  %b Отчество:
  = @worker.s_name
%p
  %b ИНН:
  = @worker.inn
%p
  %b Серия и номер паспорта:
  = @worker.passport
%p
  %b СНИЛС:
  = @worker.snils
%p
  %b Дата Рождения:
  = @worker.d_bday

= link_to 'Редактирование', edit_worker_path(@worker), class: "btn btn-default"
\|
= link_to 'Назад', workers_path,   class: "btn btn-warning"
