
%h1
  = @worker.l_name
  = @worker.f_name
  = @worker.s_name
.row
  .label.label-primary.sqlabel
    .big
      = @worker.d_bday
    .tiny
      = Worker.human_attribute_name(:"День рождения")
  .label.label-danger.sqlabel
    .big
      = @worker.inn
    .tiny
      = Worker.human_attribute_name(:ИНН)
  .label.label-success.sqlabel
    .big
      = @worker.passport
    .tiny
      = Worker.human_attribute_name(:Паспорт)
  .label.label-warning.sqlabel
    .big
      = @worker.snils
    .tiny
      = Worker.human_attribute_name(:СНИЛС)


%br

%h2
  Отпуска
  .pull-right{style: "padding-top: 1rem"}
    = link_to 'Добавить информацию об отпусках', new_worker_path, class: "btn btn-primary"
  .clearfix
%table.table
  %thead
    %tr
      %th Год
      %th Подразделение
      %th Должность
      %th Год
      %th Дата начала
      %th Дата окончания
      %th
      %th
      %th




= link_to 'Редактирование', edit_worker_path(@worker), class: "btn btn-default"
\|
= link_to 'Назад', workers_path,   class: "btn btn-warning"
