= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group
        = f.label :"Краткое наименование должности"
        = f.text_area :name_p, class: "form-control"
  .row
    .col-md-6
      .form-group
      = f.label :"Полное наименование должности"
      = f.text_area :full_name_p, class: "form-control"
  .row
    .col-md-6
      .form-group
      = f.label :"Категория"
      = f.text_field :category, class: "form-control"
  .row
    .col-md-6
      .form-group
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', posts_path, class: "btn btn-success"
