%h1 Должности

= link_to 'Добавить должность', new_post_path, class: "btn btn-warning"

%table.table
  %thead
    %tr
      %th Краткое наименование должности
      %th Полное наименование должности
      %th Категория
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.name_p
        %td= post.full_name_p
        %td= post.category
        %td= link_to 'Показать', post, class: "btn btn-warning"
        %td= link_to 'Редактировать', edit_category_path(post), class: "btn btn-default "
        %td= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br
