%p#notice= notice

%p
  %b Краткое наименование должности:
  = @post.name_p
%p
  %b Полное наименование должности:
  = @post.full_name_p
%p
  %b Категория:
  = @post.category

= link_to 'Редактирование', edit_post_path(@post), class: "btn btn-default"
\|
= link_to 'Назад', posts_path,   class: "btn btn-warning"
