= form_for @unit do |f|
  - if @unit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@unit.errors.count, "error")} prohibited this unit from being saved:"
      %ul
        - @unit.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-6
      .form-group
        = f.label :"Краткое наименование подразделения"
        = f.text_area :name_u, class: "form-control"
  .row
    .col-md-6
      .form-group
      = f.label :"Полное наименование подразделения"
      = f.text_area :full_name_u, class: "form-control"
  .row
    .col-md-6
      .form-group
      = f.label :"Подразделение"
      = f.text_field :unit, class: "form-control"
  .row
    .col-md-6
      .form-group
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', units_path, class: "btn btn-success"
