%h1 Подразделения

= link_to 'Добавить подразделение', new_unit_path, class: "btn btn-warning"

%table.table
  %thead
    %tr
      %th Краткое наименование подразделения
      %th Полное наименование подразделения
      %th Подразделение
      %th
      %th
      %th

  %tbody
    - @units.each do |unit|
      %tr
        %td= unit.name_u
        %td= unit.full_name_u
        %td= unit.unit
        %td= link_to 'Показать', unit, class: "btn btn-warning"
        %td= link_to 'Редактировать', edit_unit_path(unit), class: "btn btn-default "
        %td= link_to 'Удалить', unit, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br
