%p#notice= notice

%p
  %b Краткое наименование подразделения:
  = @unit.name_u
%p
  %b Полное наименование подразделения:
  = @unit.full_name_u
%p
  %b Подразделение:
  = @unit.unit

= link_to 'Редактирование', edit_unit_path(@unit), class: "btn btn-default"
\|
= link_to 'Назад', units_path,   class: "btn btn-warning"
