%p#notice= notice

%p
  %b Краткое наименование категории:
  = @category.name_c
%p
  %b Полное наименование категории:
  = @category.full_name_c
%p
  %b Количество дней отпуска:
  = @category.d_vocation_c

= link_to 'Редактирование', edit_category_path(@category), class: "btn btn-default"
\|
= link_to 'Назад', categories_path,   class: "btn btn-warning"
