%h1 Отпуска

= link_to 'Добавить связь', new_vocation_path, class: "btn btn-warning"

%table.table
  %thead
    %tr
      %th Тип отпуска
      %th Дата начала
      %th Дата окончания
      %th Соответствует предварительному графику?
      %th Order date
      %th Order number
      %th Контракт
      %th
      %th
      %th

  %tbody
    - @vocations.each do |vocation|
      %tr
        %td= vocation.type_v
        %td= vocation.d_conclusion_v
        %td= vocation.d_expiration_v
        %td= vocation.is_real
        %td= vocation.order_date
        %td= vocation.order_number
        %td= vocation.contract
        %td= link_to 'Показать', vocation, class: "btn btn-warning"
        %td= link_to 'Редактирование', edit_vocation_path(vocation), class: "btn btn-default "
        %td= link_to 'Удалить', vocation, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br
