%p#notice= notice

%p
  %b Тип отпуска:
  = @vocation.type_v
%p
  %b Дата начала:
  = @vocation.d_conclusion_v
%p
  %b Дата окончания:
  = @vocation.d_expiration_v
%p
  %b Соответствует предварительному графику?:
  = @vocation.is_real
%p
  %b Order date:
  = @vocation.order_date
%p
  %b Order number:
  = @vocation.order_number
%p
  %b Контракт:
  = @vocation.contract

= link_to 'Редактирование', edit_vocation_path(@vocation), class: "btn btn-default"
\|
= link_to 'Назад', vocations_path,   class: "btn btn-warning"
